.collapse {
  transition: height 0.3s ease, visibility 0.8s ease, opacity 0.8s ease;
}

.collapsing {
  transition: all .8s ease;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.collapse.show {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.navbar-brand-text{
  font-size: 2rem;
  font-weight: bold;
  color: #83A580;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
}